html, body, #root {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: black;
}

.container {
  height: 500px;
  width: 350px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
}